<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Long+Cang&display=swap" rel="stylesheet">




.head{

}
.nav-title {
	font-size: 25px;
	font-family: 'Long Cang', cursive;
}

.catalogue-title {
	font-size: 20px;
}
.catalogue-line {
	font-size: small;
}
.post-title {
	font-size: 20px;
}



