@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');



.nav-title {
	font-size: 2.5rem;
	font-family: 'Long Cang', cursive;
}

.catalogue-title {
	font-size: 20px;
	
}
.catalogue-line {
	font-size: small;
	
}
.post-title {
	font-size: 20px;
	
}



