@import url('https://fonts.googleapis.com/css2?family=Long+Cang&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap');

.nav-title {
	font-size: 25px;
	font-family: 'Long Cang', cursive;
}

.catalogue-title {
	font-size: 20px;
	
}
.catalogue-line {
	font-size: small;
	
}
.post-title {
	font-size: 20px;
	
}



